body{
    background-color: rgb(246, 197, 197);
}
.rightSide{
    margin-left: 40px;
}
.leftSide{
    margin-top: 50px;
    margin-left: 40px;
}
.lowerSide{
    margin-top: 50px;
    margin-left: 40px;
}
.achivment{
    margin-top: 50px;
    margin-left: 40px;
}
.links{
    margin-top: 50px;
    margin-left: 40px;
}